/* ===== GOOGLE FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ===== FONT FACE ===== */
@font-face {
   font-family: 'ants_valley_-_personal_useRg';
   src: url('../fonts/antsvalleypersonaluse-z8drl-webfont.woff2') format('woff2'),
		url('../fonts/antsvalleypersonaluse-z8drl-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'barlistaregular';
   src: url('../fonts/barlista-zvqxb-webfont.woff2') format('woff2'),
		url('../fonts/barlista-zvqxb-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
/* ===== end font face ===== */

/* ===== VARIABLES CSS ===== */
:root{
	/* ===== Colors ===== */
	--red-dark-color: #701c1f;
	--red-darker-color: #3D0000;
	--white-color: #FFF;
	--text-color: #141414;
	--body-color: #EDEDED;

	/* ===== Font & Typography ===== */
	--text-font: 'Poppins', sans-serif;
	--first-font: 'ants_valley_-_personal_useRg';
	--second-font: 'barlistaregular';
	--biggest-font-size: 2.50rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--h4-font-size: 1.1rem;
	--normal-font-size: .938rem;
	--small-font-size: .725rem;

	/* ===== Font Weight ===== */
	--regular-font: 400;
	--medium-font: 500;
	--semi-bold-font: 600;

	/* ===== z-index ===== */
	--z-toggle: 100;
	--z-menu: 200;
	--z-popup: 300;
}
/* ===== end variables css ===== */

/* Responsive Font & Typography */
@media screen and (min-width: 768px){
	:root{
		--biggest-font-size: 4rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--h4-font-size: 1.15rem;
		--normal-font-size: 1rem;
		--small-font-size: .825rem;
	}
}
/* end responsive font & typography */

/* ===== BASE ===== */
*,
::before,
::after{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	font-family: var(--text-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
	line-height: 1.6;
	overflow: hidden; /* POP-UP */
}
h1,h2,h3,p,ul{
	margin: 0;
}
ul{
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
	height: auto;
}
.l-main{
	overflow-x: hidden;
}
/* ===== end base ===== */

/* ===== SCROLL BAR ===== */
::-webkit-scrollbar{
	width: .6rem;
	background: #E8E8E8;
}
::-webkit-scrollbar-thumb{
	background: #686D76;
	border-radius: .5rem;
}
/* ===== end scroll bar ===== */

/* ===== LAYOUT ===== */
.container{
	max-width: 1024px;
	width: calc(100% - 2rem);
	margin-left: 1rem;
	margin-right: 1rem;
}
.grid{
	display: -ms-grid;
	display: grid;
	grid-gap: 1.5rem;
}
/* ===== end layout ===== */

/* ===== CSS CLASS ===== */
.section{
	padding: 4rem 0 3rem;
}
.section__title,
.prokes__title,
.rsvp__title{
	font-family: var(--first-font);
	font-size: var(--h1-font-size);
	text-align: center;
}
.section__subtitle,
.prokes__subtitle{
	display: block;
	text-align: center;
	margin-bottom: 2rem;
}
/* ===== end css class ===== */

/* ===== SOCIAL MEDIA ===== */
.social__media-link{
	background-color: var(--red-dark-color);
	color: var(--white-color);
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 0.5rem;
	font-size: 1.5rem;
	border-radius: 50%;
}
/* ===== end social media ===== */

/* ===== BUTTONS ===== */
.button{
	background-color: var(--red-dark-color);
	padding: .75rem 1.5rem;
	border-radius: .25rem;
	cursor: pointer;
	max-width: max-content;
	width: 100%;
}
.button--flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	color: var(--white-color);
}
.button__icon{
	font-size: 1.5rem;
	margin-right: .5rem;
}
.button--center{
	margin-left: auto;
	margin-right: auto;
}
/* ===== end buttons ===== */

/* ===== NAV ===== */
.nav__toggle{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--red-darker-color);
	color: var(--white-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	cursor: pointer;
	position: fixed;
	left: 1rem;
	bottom: 1.2rem;
	z-index: var(--z-toggle);
}
.menu__icon{
	font-size: 1.5rem;
}
.nav__menu{
	background-color: var(--white-color);
	padding: 1.5rem 1rem;
	position: fixed;
	left: 0;
	bottom: -100%;
	width: 100%;
	border-radius: 1.25rem 1.25rem 0 0;
	z-index: var(--z-menu);
	display: -ms-grid;
	display: grid;
	-ms-grid-row-align: center;
		align-items: center;
	-webkit-transition: .4s;
	overflow-x: hidden;
	transition: .4s;
}
.nav__list,
.nav__link{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.nav__list{
	-ms-flex-pack: distribute;
		justify-content: space-around;
}
.nav__link{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
				-ms-grid-row-align: center;
			align-items: center;
	color: var(--text-color);
	font-weight: var(--semi-bold-font);
}
.nav__icon{
	width: 30px;
	margin-bottom: .3rem;
}
.nav__name{
	font-size: var(--small-font-size);
}
.nav__close{
	position: absolute;
	right: 1rem;
	bottom: .5rem;
	font-size: 1.5rem;
	color: var(--red-dark-color);
	cursor: pointer;
}

/* Show Menu */
.show-menu{
	bottom: 0;
}

/* Active Link */
.active-link{
	position: relative;
	color: var(--red-dark-color);
	-webkit-transition: .3s;
	transition: .3s;
}
.active-link::before{
	content: '';
	position: absolute;
	bottom: -.3rem;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: var(--red-dark-color);
	display: none;
}
/* ===== end nav ===== */

/* ===== HOME ===== */
.home{
	width: 100%;
	height: 100vh;
}
.home__container{
	height: inherit;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
.home__content{
	text-align: center;
}
.home__subtitle{
	font-weight: var(--regular-font);
	margin-bottom: 1rem;
}
.home__title{
	font-size: var(--biggest-font-size);
	font-family: var(--first-font);
	margin-bottom: 1rem;
}
.home__description{
	background-color: rgba(255,255,255,.5);
	padding: 1rem 2rem;
	border-radius: .5rem;
	width: 100%;
}
.home__description span{
	display: block;
	font-weight: var(--semi-bold-font);
	font-size: var(--h3-font-size);
}
.home__place{
	font-weight: var(--regular-font) !important;
}
/* ===== end home ===== */

/* ===== QUOTES ===== */
.quotes span{
	display: block;
}
.quotes{
	background-color: var(--red-dark-color);
	color: var(--white-color);
	padding: 2.5rem 0;
}
.quotes__line{
	width: 300px;
	height: 2px;
	background-color: var(--white-color);
	margin-left: auto;
	margin-right: auto;
}
.quotes__content{
	text-align: center;
	padding: 2rem 0;
}
.quotes__title{
	font-family: var(--first-font);
	font-size: var(--h1-font-size);
}
.quotes__bold{
	font-weight: var(--semi-bold-font);
	margin-top: 1rem;
}
/* ===== end quotes ===== */

/* ===== COUPLE ===== */
.couple{
	text-align: center;
}
.couple span{
	display: block;
}
.couple__box{
	background-color: var(--red-dark-color);
	color: var(--white-color);
	border-radius: .5rem;
	padding: 1.5rem;
}
.couple__img{
	background-color: var(--white-color);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.couple__name{
	font-size: var(--h2-font-size);
	margin-bottom: .5rem;
}
.couple__description{
	margin-bottom: .5rem;
}
.couple__bold{
	font-weight: var(--semi-bold-font);
}
.couple .social__media-link{
	background-color: var(--white-color);
	color: var(--red-dark-color);
}
/* ===== end couple ===== */

/* ===== EVENT ===== */
.event .section-title{
	margin-bottom: 2rem;
}
.event span{
	display: block;
}
.event{
	text-align: center;
}
.event__box{
	background-color: var(--red-dark-color);
	color: var(--white-color);
	border-radius: .5rem;
	padding: 2rem;
}
.event__title{
	font-family: var(--second-font);
	font-size: var(--h2-font-size);
}
.event__img{
	width: 90px;
	margin-bottom: 1rem;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
	-webkit-filter: invert(1) !important;
			filter: invert(1) !important;
}
.event__time{
	margin: 2rem 0;
}
.event__line{
	height: 2px;
	width: 80px;
	background-color: var(--white-color);
	margin-left: auto;
	margin-right: auto;
}
.event__time-description{
	padding: 1rem 0;
}
.event__icon{
	font-size: 1.8rem;
}
.event__date{
	margin-bottom: 2rem;
}
.event__hotel{
	font-weight: var(--semi-bold-font);
}
.event__address{
	margin-bottom: 2rem;
}
.map__button{
	background-color: var(--white-color);
	color: var(--text-color);
}
/* ===== end event ===== */

/* ===== COUNTDOWN TIMER ===== */
.timer{
	margin-top: 1.75rem;
}
.timer span{
	display: block;
}
.timer__container{
	-ms-grid-columns: (minmax(100px,1fr))[auto-fit];
		grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
	place-items: center !important;
}
.timer__box{
	width: 100px;
	height: 100px;
	border-radius: .5rem;
	background-color: var(--red-dark-color);
	color: var(--white-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
}
.timer__number{
	font-family: var(--first-font);
	font-size: var(--h1-font-size);
	font-weight: var(--semi-bold-font);
}

/* Timer Stop */
#timer-stop{
	text-align: center;
	margin-top: 1.5rem;
}
/* ===== end countdown timer ===== */

/* ===== RSVP ===== */
.rsvp__container{
	background-color: var(--white-color);
	padding: 2rem 1.2rem;
	border-radius: .5rem;
}
.rsvp__field:not(:last-child){
	margin-bottom: 1rem;
}
.rsvp__input,
.rsvp__textarea{
	display: block;
	width: 100%;
	border: 1px solid #D9D9D9;
	padding: 0.3rem 0.4rem;
	border-radius: .3rem;
	outline: none;
	font-family: var(--text-font);
	font-size: var(--normal-font-size);
}
.rsvp__textarea{
	height: 125px;
	resize: none;
}
.rsvp__input:focus,
.rsvp__textarea:focus{
	border: 1px solid var(--red-dark-color);
}

/* Radio Btn */
input[type='radio']::after{
	position: relative;
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	top: -1px;
	left: -1px;
	border: 2px solid #d8e4e2;
	background-color: var(--white-color);
	border-radius: 50%;
	box-sizing: border-box;
	cursor: pointer;
}
input[type='radio']:checked::after{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	top: -1px;
	left: -1px;
	position: relative;
	background-color: var(--red-dark-color);
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid #d8e4e2;
}
.radio__text{
	margin-left: 1rem;
}

/* RSVP Respon */
.rsvp__respon{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-top: .75rem;
	display: none;
}
.rsvp__respon-icon{
	font-size: 1.3rem;
	margin-right: .2rem;
	color: var(--red-dark-color);
}
.rsvp__button{
	font-family: var(--text-font);
	font-size: var(--normal-font-size);
	outline: none;
	border: none;
	margin-top: 1.75rem;
}

/* Show RSVP Modal */
.rsvp-respon{
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}
/* ===== end rsvp ===== */

/* ===== PROKES ===== */
.prokes{
	margin-top: 2rem;
}
.prokes__content{
	border-radius: .5rem;
	padding: 2rem 1rem;
	background-color: var(--red-dark-color);
	color: var(--white-color);
}
.prokes__container{
	-ms-grid-columns: (minmax(120px,1fr))[auto-fit];
		grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
}
.prokes__img{
	width: 130px;
	margin-left: auto;
	margin-right: auto;
}
.prokes__description{
	display: block;
	text-align: center;
}
/* ===== end prokes ===== */

/* ===== FOOTER ===== */
footer{
	background-color: var(--red-dark-color);
	color: var(--white-color);
	padding: 4rem 0 2rem;
	margin-top: 5rem;
}
.footer__container{
	text-align: center;
}
.footer__box span{
	display: block;
}
.footer__name{
	font-family: var(--first-font);
	font-size: var(--biggest-font-size);
	margin-bottom: 1rem;
}
.footer__thanks{
	font-weight: var(--medium-font);
	letter-spacing: 2px;
	margin-bottom: 2rem;
}
.footer__closing{
	font-family: var(--first-font);
	font-size: var(--h2-font-size);
}
.footer__title,
.footer__description{
	font-size: var(--small-font-size);
}
.footer__box:first-child{
	margin-bottom: 3rem;
}
.footer__description{
	margin-bottom: 1rem;
}
footer .social__media-link{
	background-color: var(--white-color);
	color: var(--red-dark-color);
}
/* ===== end footer ===== */

/* ===== BACKSOUND ===== */
.backsound{
	width: 40px;
	height: 40px;
	background-color: var(--red-darker-color);
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	position: fixed;
	right: 1rem;
	bottom: 1.5rem;
}
.backsound__icon{
	width: 23px;
	-o-object-fit: cover;
	   object-fit: cover;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
	-webkit-filter: invert(1) !important;
			filter: invert(1) !important;
	cursor: pointer;
}
/* ===== end backsound ===== */

/* ===== POP UP ===== */
.popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,.7);
	-webkit-backdrop-filter: blur(15px);
			backdrop-filter: blur(15px);
	z-index: var(--z-popup);
}
.popup__container{
	height: inherit;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	text-align: center;
}
.popup__content{
	background: url(../img/home_medium.png) no-repeat center/cover;
	background-color: var(--body-color);
	border-radius: .5rem;
	padding: 2rem 1.5rem;
	width: 100%;
}
.popup__subtitle{
	font-size: var(--h1-font-size);
	font-weight: var(--regular-font);
	margin-bottom: 2rem;
}
.popup__line{
	height: 2px;
	width: 50px;
	background-color: var(--text-color);
	-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
	margin: .5rem auto;
}
.popup__subtitle2{
	font-weight: var(--regular-font);
	margin: 2rem 0 0;
}
.popup__title{
	font-size: var(--biggest-font-size);
	font-family: var(--first-font);
	margin: 1rem 0 1.5rem;
}
/* ===== end pop up ===== */

/* ===== MEDIA QUERIS ===== */
@media screen and (max-width: 320px){
	/* ===== NAV ===== */
	.nav__name{
		display: none;
	}
	.active-link::before{
		display: block;
	}
	/* ===== end nav ===== */

	/* ===== QUOTES ===== */
	.quotes__line{
		width: 90%;
	}
	/* ===== end quotes ===== */
}

@media screen and (max-width: 568px){
	/* ===== HOME ===== */
	.home{
		background: url(../img/home_portrait.png) no-repeat center/cover;
	}
	/* ===== end home ===== */
}

@media screen and (min-width: 568px){
	/* ===== HOME ===== */
	.home{
		background: url(../img/home_landscape.png) no-repeat center/cover;
	}
	/* ===== end home ===== */

	/* ====== COUPLE ===== */
	.couple__container{
		-ms-grid-columns: (1fr)[2];
			grid-template-columns: repeat(2,1fr);
	}
	/* ===== end couple ===== */

	/* ===== PROKES ===== */
	.prokes__container{
		-ms-grid-columns: (1fr)[3];
			grid-template-columns: repeat(3,1fr);
	}
	.prokes__subtitle{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	/* ===== end prokes ===== */

	/* ===== POP UP ===== */
	.popup__content{
		width: 80%;
	}
	/* ===== end pop up ===== */
}

@media screen and (min-width: 768px){
	/* ===== LAYOUT ===== */
	.section{
		padding-top: 5rem;
	}
	/* ===== end layout ===== */

	/* ===== NAV ===== */
	.nav__menu{
		padding-bottom: 1rem;
	}
	.nav__name{
		font-size: var(--normal-font-size);
	}
	.nav__list{
		width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
	.nav__icon{
		width: 40px;
	}
	.nav__close{
		right: 1.5rem;
		bottom: 1rem;
	}
	/* ===== end nav ====== */

	/* ===== COUPLE ===== */
	.couple__container{
		-webkit-column-gap: 2rem;
		   -moz-column-gap: 2rem;
				column-gap: 2rem;
	}
	/* ===== end couple ===== */

	/* ====== EVENT ===== */
	.event__container{
		-ms-grid-columns: (1fr)[2];
			grid-template-columns: repeat(2,1fr);
	}
	/* ===== end event ===== */

	/* ===== PROKES ===== */
	.prokes__img{
		width: 160px;
	}
	/* ===== end prokes ===== */
}

@media screen and (min-width: 1024px){
	/* ===== LAYOUT ===== */
	.container{
		margin-left: auto;
		margin-right: auto;
	}
	/* ===== end layout ===== */

	/* ===== HOME ===== */
	.home{
		background: url(../img/home_landscape.png) no-repeat center/cover;
	}
	/* ===== end home ===== */

	/* ===== COUPLE ===== */
	.couple__container{
		-webkit-column-gap: 6rem;
		   -moz-column-gap: 6rem;
				column-gap: 6rem;
	}
	/* ===== end couple ===== */

	/* ===== EVENT ===== */
	.event__container{
		-webkit-column-gap: 2rem;
		   -moz-column-gap: 2rem;
				column-gap: 2rem;
	}
	/* ===== end event ===== */

	/* ===== POP UP ===== */
	.popup__content{
		width: 70%;
	}
	/* ===== end pop up ===== */
}